.spinner {
  display: grid;
  place-items: center;
  min-height: 80vh;
}

.spin {
  width: 65px;
  height: 65px;
  border: 6px solid transparent;
  border-top: 6px solid #6a00f4;
  border-right: 6px solid #00d4ff;
  border-radius: 50%;
  animation: spinRotate 0.8s linear infinite;
  box-shadow: 0 0 10px rgba(106, 0, 244, 0.3);
}

@keyframes spinRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
